.cadastro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(-120deg, #877b66, #877b663c);
}
#forms-cadastro{
    display: grid;
    width: 90vw;
    padding: 20px;
    border: solid var(--borda) 2px;
    border-radius:20px;
    gap: 20px;
    background: var(--cor-fundo);
    grid-template-columns: repeat(2,1fr);
}
.inputs_cadastro input{
  width:50%;
  height: 38px;
  border-radius: 8px;
  border: thin solid var(--borda);
  padding-left: 16px;
  margin-bottom: 16px;
  font-size: 12px;   width: 100%;
}
.inputs_cadastro{
    width: 100%;
}
.container-button{
    grid-column: 1/3;
    display: flex;
    justify-content: center;

}
.container-button button{
padding:10px;
color: var(--cor-fundo);
border: solid var(--borda) 2px;
border-radius: 5px;
background: var(--cor-botao);

}
#titulo-cadastro{
    width: auto;
    grid-column: 1/3;
    padding: 0;
}

.avisos{
    color:#ff0000;
    font-size: 0.8rem;
}