span {
  color: red;
  font-weight: bold;
}

.container-form-contato {
  background: linear-gradient(-120deg, #877b66, #877b663c);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.form_box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  width: 700px;
  height: 80vh;
}

.form_box .title {
  padding: 24px 32px;
  font-size: 24px;
  border-bottom: thin solid #ccc;
}

.form_box form {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  padding: 32px;
}

.form_box label {
  display: flex;
  gap: 10px;
}

.form_div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_pessoal {
  display: flex;
  width: 100%;
}

.form_div_pessoal {
  width: 50%;
}

.form_div input {
  width: calc(50% - 8px);
  height: 38px;
  border-radius: 8px;
  border: thin solid var(--borda);
  padding-left: 16px;
  margin-bottom: 16px;
  font-size: 12px;
}

.form_div_pessoal input {
  width: calc(100% - 16px);
}

.form_div input:first-child {
  margin-right: 16px;
}

.form_msg {
  display: flex;
  flex-direction: column;
  width: 98%;
}

.form_msg input {
  border-radius: 8px;
  border: solid var(--borda) 1px;
  margin-bottom: 16px;
  font-size: 12px;
}

.form_msg input {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.form_box button {
  display: block;
  outline: none;
  border: none;
  width: 180px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--cor-botao);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.form_box button:hover {
  background-color: var(--cor-botao);
}

.form_box h2 {
  margin-left: 32px;
  font-size: 2em;
  color: var(--cor-botao);
}
