.home {
  margin-top: 10px;
  width: 100vw;
  height: 82vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  display: flex;
  width: 90vw;
  height: 82vh;
  flex-direction: row;
}
.slogan {
  width: 55%;
  background: var(--cor-home);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--fonte-princiapl);
  color: var(--cor-fundo);
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}
.link-banner{
  position: relative;
}
.slogan >.link-banner a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--cor-botao);
  font-weight: 700;
  z-index: 2;
  transition: 1s;
}
.slogan >.link-banner img{
  position: absolute;
  width: 40px;
  z-index: 1;
  right: 41%;
  top: 40px;
}
/* .slogan > a {
  font-size: 1.3rem;
  width: fit-content;
  text-decoration: none;
  color: var(--cor-fundo);
  font-weight: 700;
  background-color: var(--cor-botao);
  border: solid var(--cor-botao);
  border-radius: 20px;
  transition: 1s;
  padding: 15px;
} */

.slogan > a:hover {
background-color: var(--cor-botao);
}

.slogan > a > a {
  text-decoration: none;
  color: var(--cor-fundo);
}

.container #tenis-baner {
  width:44%;
  object-fit: cover;
}

.sobre {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  background: var(--cor-prodDest);
}
#titulo-sobre,
#titulo-prod-destaque {
  font-size: 2em;
  width: 90vw;
  color: var(--cor-botao);
  padding: 20px 0;
}
.sobreDiv {
  height: 100%;
  width: 100%;
  background: var(--cor-sobre);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
#foto-cidade {
  filter: grayscale();
  max-width: 50vw;
  object-fit: cover;
}
.sobreDiv img {
  height: 28vh;
  margin-top: 40px;
}

.sobreTexto {
  color: var(--cor-home);
  font-family: var(--fonte-princiapl);
  height: 100%;
  padding: 0px 20px;
}

.sobreTexto h3 {
  font-size: 2em;
  color: var(--cor-botao);
  text-transform: uppercase;
}

.sobreTexto p {
  margin-top: 30px;
  font-size: 1.2em;
  text-align: justify;
}

.produtosDestaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.grid {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.produtos-card {
  display: flex;
  gap: 5px;
  padding: 25px;
  flex-direction: column;
  height: 100%;
  position: relative;
  border: solid var(--borda) 2px;
}

.produtos-card img {
  max-width: 100%;
  object-fit: cover;
}

.preco-antigo {
  text-decoration: line-through;
  font-size: 10px;
}

.compra {
  width: fit-content;
  padding: 5px;
  background-color: var(--cor-botao);
  color: var(--cor-fundo);
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.compra:hover {
  background: var(--cor-fonte);
  cursor: pointer;
}
.icons-catalogo{
  width: 40px;
}
.icons-catalogo:hover{
  opacity: 0.7;
  cursor: pointer;
}
.posi-botoes{
  display:flex;
  width: 100%;
  justify-content: space-between;
}

